.sidebar {
    border-right: 1px solid #E8EAED;
}

.welcome-card {
    border: none !important;
    background-color: #F6FAFD !important;
}

.h14{
    font-size: 14px !important;
    color: #5F6063 !important;
}

.h6 {
    font-size: 12px !important;
    color: #5F6063 !important;
}

.titleName {
    color: #206AA2 !important;
}

.menu-button {
    background-color: #FFFFFF !important;
    border: none !important;
}

.menu-button:hover .img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(38%) saturate(1232%) hue-rotate(166deg) brightness(89%) contrast(88%);
}

.menu-button .h6 {
    color: #232323;
}

.menu-button:hover .h6 {
    color: #206AA2 !important;
}

.menu-button:hover, .menu-button:focus, .menu-button:active {
    background-color: #F2F2F2B2 !important;
}

.container-search {
    background-color: #F2F2F2;
    height: 40px;
}

.container-search input {
    height: 100%;
    background-color: transparent;
    border: none;
}

.container-search input:focus {
    background-color: transparent;
    border: none !important;
}

.container-search button {
    color: #5F6063;
    height: 100%;
}

.text-danger:hover {
    color: #FFFFFF !important;
}

.borders {
    color: #5F6063;
    border-bottom: 0.1px solid #E8EAED;
}